:root {
    --text: #2D6584;
    --main-color: #41B8F9;
    --auxiliary-color: #FD7927;
    --back-color: #ECF0F4 ;
    --footer-back-color: #D9F1FE ;
}

/* convenient */
.system{
  padding: 40px 20px 0 20px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}
.system_container{
  max-width: 1400px;
  margin-inline: auto;
}
.system .section-title {
  font-size: 32px;
  margin-block: 20px 30px;
  position: relative;
  color: var(--text);
}
.system .section-title::before{
  content: 'implement';
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.section-title::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 7%;
  margin-inline: auto;
  background-color: var(--text);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.introduce__list {
  gap: 65px 35px;
  flex-wrap: wrap;
  max-width: 1235px;
  align-items: flex-start;
}
.ma-auto {
  margin-inline: auto;
}
.txt-or {
    color: #FD7927
}

.txt-link {
    text-decoration: underline
}

.txt-rt {
    text-align: right
}

.flex-center {
  justify-content: center;
}
.flex {
  display: flex;
}
.list-none {
  list-style: none;
}
.introduce__list li {
  position: relative;
  width: 33.3333333333%;
  max-width: 312.5px;
  padding: 25px;
  border: 3px solid var(--back-color);
  background-color: #FFF;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}
.introduce__list li>img {
  display: block;
  margin-inline: auto;
  max-width: 230px
}
.dummy-logo {
  margin-inline: auto;
}
@media (max-width: 1200px) {
    .introduce__list li {
      padding: 9.5px 4px;
      border: 2px solid #CECECE;
      border-radius: 11px;
      min-width: 160px;
      max-width: 190px;
      width: 50%;
    }
  .introduce__list li.hide::after {
    content: "〉";
    position: absolute;
    display: block;
    left: 50%;
    bottom: -8px;
    font-size: 13px;
    transform: rotate(90deg);
  }
  .introduce__list li {
    cursor: pointer;
  }
  .introduce__list li>img {
        max-width: 100%
    }
}
@media (min-width: 1201px) {
  .introduce__list li {
    pointer-events: none;
    min-height: 385px;
  }
}
.introduce__list li .inner p {
  margin-inline: auto;
  margin-top: 15px;
  padding-top: 15px;
  background-size: 14px 3px;
  background-image: linear-gradient(to right, #CECECE 7px, transparent 7px);
  background-position: left top;
  background-repeat: repeat-x;
  color: #323232;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .introduce__list li .inner p {
      background-size: 6px 2px;
      background-image: linear-gradient(to right, #CECECE 3px, transparent 3px);
      font-size: 13px;
      padding-inline: 10px
  }
}
.introduce__list li .inner .txt-link {
    margin-top: auto
}



@media (max-width: 1200px) {
    .introduce__list li .inner .txt-link {
        gap: 12px 10px
    }

    .introduce__list li .inner .txt-link li {
        border: 2px solid #CECECE;
        border-radius: 23px;
        padding: 8px 4px;
    }

    .introduce__list li .inner .txt-link {
        font-size: 13px;
        margin-top: 30px;
    }

    .introduce__list {
        gap: 12px 10px;
        margin-bottom: 45px;
    }

    .introduce__list li {
        padding: 9.5px 4px;
        border: 2px solid #CECECE;
        border-radius: 11px;
        min-width: 160px;
        max-width: 190px;
        width: 50%;
    }

    .introduce__list li .inner {
        display: none;
    }
}
@media (min-width: 1201px) {
  .introduce__list li .inner p {
    display: block !important;
    max-width: 337px;
  }
}
@media (min-width: 1201px) {
  .introduce__list li .inner .txt-link {
      display: block !important;
      position: relative;
      z-index: 10;
      pointer-events: auto
  }

  .introduce__list li .inner {
      height: 100%;
      display: flex !important;
      flex-direction: column;
      align-items: stretch;
      align-content: stretch;
      flex-grow: 1
  }
}

.margins{
  margin-block: 40px;
}