:root {
    --text: #2D6584;
    --main-color: #41B8F9;
    --auxiliary-color: #FD7927;
    --back-color: #ECF0F4 ;
    --footer-back-color: #D9F1FE ;
}
/* concerns */
.concerns{
    padding: 30px 20px;
    text-align: center;
}

.concerns .section-title {
  font-size: 32px;
  margin-block: 50px 30px;
  position: relative;
  color: var(--text);
}

.section-title .highlight {
  color: #41B8F9;
  font-weight: bold;
}

.section-title::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 10%;
    margin-inline: auto;
    background-color: var(--text);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.problems {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.problem-card {
  border: 2px solid var(--main-color);
  padding: 14px;
  border-radius: 12px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
}
.illustration {
  flex: 1;
  min-width: 280px;
  max-width: 400px;
}
.illustration img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
    .concerns .content {
        flex-direction: column;
    }
    .concerns .section-title {
        font-size: 28px;
    }
}

/* solve */
.solve{
    background-color: var(--back-color);
    padding: 0 20px 60px 20px;
    text-align: center;
}
.border_white{
    display: flex;
    justify-content: center;
}
.solve .section-title {
  font-size: 32px;
  margin-block: 20px 10px;
  position: relative;
  color: var(--text);
}
.solve .title-content {
    font-size: 14px;
    font-weight: 600;
    color: #323232;
    margin-block: 20px 50px;
}
.solve_card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
    gap: 20px;
}
.solve_card .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
    max-width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.solve_card .card .card_title {
    color: var(--text);
    font-weight: 600;
    font-size: 16px;
    margin-block: 15px;
}
.solve_card .card .card_content {
    font-size: 14px;
    color: #323232;
}

@media (max-width: 768px) {
    .border_white img {
        width: 70px;
    }

    .solve .section-title {
        font-size: 28px;
    }

    .solve_card{
        align-items: center;
        justify-items: center;
    }
}

/* processStep */
.processStep {
    text-align: center;
    padding: 0 20px 60px 20px;
}
.processStep_container {
    max-width: 1408px;
    margin-inline: auto;
}
.processStep .section-title {
  font-size: 32px;
  margin-block: 20px 10px;
  position: relative;
  color: var(--text);
}
.steps{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
    gap: 30px;
}
.steps .step_card{
    position: relative;
    border-radius: 10px;
    padding: 16px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.steps .step_card .mark{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    background: linear-gradient(90deg,rgba(255, 200, 166, 1) 0%, rgba(253, 121, 39, 1) 100%);
    color: #fff;
    border-radius: 16px;
    padding: 3px 20px;
}
.steps .step_card .card_title {
    color: var(--text);
    font-weight: 600;
    font-size: 16px;
    margin-block: 15px;
}
.steps .step_card .card_content {
    font-size: 14px;
    color: #323232;
    text-align: start;
}
@media (max-width: 768px) {
    .processStep .section-title {
        font-size: 28px;
    }
    .steps{
        gap: 50px;
    }
}